$cen: center;
@mixin display{ display: flex; align-items: $cen;}

.header-container {
  @include display;
  justify-content: space-between;  
  padding: 10px 20px;
  background-color: black;

  ul {
    @include display;
    justify-content: $cen;    
    gap: 20px;

    li {
      list-style: none;
      font-weight: 400;
      font-size: 13px;
    }
  }

}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 3px;
  }

  span {
  font-size: 12px;
  color: #d7fa00;
  border: 1px solid #d7fa00;
  padding: 4px 5px;
  border-radius: 3px;
  }

  span {
  font-size: 12px;
  color: #d7fa00;
  border: 1px solid #d7fa00;
  padding: 4px 5px;
  border-radius: 3px;
  }

  div {
  font-size: 18px;
  font-weight: 600;
  }

  p {
  font-size: 12px;
  color: rgb(160, 160, 160);
  }
}





